<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="GeoCodeRequestAddress" value="http://open.mapquestapi.com/geocoding/v1/address?key=Fmjtd|luubn9082h%2C8g%3Do5-902wu6&amp;outFormat=xml&amp;location=" />
    <add key="latXPath" value="/response/results/result/locations/location/displayLatLng/latLng/lat" />
    <add key="lngXPath" value="/response/results/result/locations/location/displayLatLng/latLng/lng" />
    <add key="PMConnString" value="Data Source=WINRSKNSTST05;Initial Catalog=WP_Providers;User Id=rm1;Password=59eo_5k1;" />
    <!--<add key="PMConnString" value="Data Source=WINRSKNSPRD08;Initial Catalog=WP_Providers;User Id=rm1;Password=59eo_5k1;" />-->
    <add key="PMModuleID" value="5" />
  </appSettings>

</configuration>

